@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    margin: 0;
    padding: 0;
    /* Background pattern from Toptal Subtle Patterns */
    background: url("gray_sand_@2X.png");
    font-family: "Pacifico";


}

.box {
    width: 370px;
    padding: 0 40px 40px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #191919;
    text-align: center;
    border: 2px solid rgb(155, 149, 149);
    background-color: rgba(51, 51, 51, 0.5);

}


.box h1 {
    color: lightgray;
    /* text-transform: uppercase; */
    font-weight: 100;
    margin-bottom: 80px;
    opacity: 1;
    font-size: 90px;
    height: 38px;


}

.loginInput,
.passwordInput {
    font-family: "Pacifico";
    font-size: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 220px;
    height: 25px;
    border: 0;
    background: none;
    text-align: center;
    border: 2px solid rgb(155, 149, 149);
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 20px;
    transition: .25s;
    background-color: rgba(155, 149, 149, 0.2) !important;


}

.loginInput {
    margin-top: 140px;
}

.passwordInput {
    margin-top: 30px;
}

.loginInput:focus,
.passwordInput:focus {
    width: 240px;
    /* border-color: rgb(39, 36, 36); */

}

.submit {
    display: block;
    font-family: "Pacifico";
    font-size: 18px;
    margin: 0 auto;
    color: white;
    border: 1px solid lightgray;
    border-radius: 20px;
    text-shadow: none;
    width: 240px;
    height: 40px;
    margin-top: 30px;
    background-color: rgb(39, 36, 36);
    border-radius: 10px;
    border: 2px solid rgb(39, 36, 36);
    color: lightgray;
    transition: .2s;
    outline: none;



}

.submit:hover {
    background-color: lightgray;
    border: 2px solid lightgray;
    color: black;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgray;
    opacity: 0.7;
    /* Firefox */
}

.content {
    width: 370px;
    padding: 20px 40px 40px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #191919;
    text-align: center;
    border: 2px solid rgb(155, 149, 149);
    background-color: rgba(51, 51, 51, 0.5);
    font-size: 30px;
    color: lightgray;
}

.button1 {
    font-family: "Pacifico";
    width: 250px;
    margin-top: 35px;
    border: none;
    height: 35px;
    background-color: rgb(39, 36, 36);
    border-radius: 10px;
    border: 2px solid rgb(39, 36, 36);
    outline: none;
    color: lightgray;
    transition: .3s;
}

.button1 a {
    text-decoration: none;
    color: lightgray;
    transition: .3s;
    display: block;


}

.button1:hover {
    background-color: lightgray;
    border: 2px solid lightgray;
}

.button1:hover a {
    color: black;
}